.one-project {
  border: 3px solid $dark-gray;
  width: 100%;
  display: flex;

  .text-box, .image-box {
    flex: 1 1 0;
  }

  .text-box {
    .title {
      font: 36px Objectivity;
    }

    p {
      font: 14px Objectivity;
    }
  }

  .image-box {
    .black-box {
      background-color: $dark-gray;
      height: calc(100% - 2em);
      margin: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }

}